@font-face {
  font-family: Abel;
  src: url(fonts/Abel-Regular.ttf);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Abel', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* FOOTER */

/* -------------------------------------------------------------------------------------- */

/* CABECERA */

#header_superior {
  background-color: #0a97b0;
  padding-top: 1em;
  padding-bottom: 1em;
}

#header_superior_iniciar_sesion {
  padding-right: 1em;
}

ul.menuUsuario {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: aliceblue 1px solid;
}

/* RESULTADOS BUSCADOR CABECERA */

.contenedorResultadosBuscador {
  position: relative;
}

.resultadosBuscador {
  border-top: #ffffff 3px solid;
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  margin: 0;
  z-index: 1;
  list-style-type: none;
  padding-inline-start: 0;
  background-color: #0a97b0;
  display: flex;
  align-items: flex-end;
}

.resultadosBuscador .itemResultadosListaBuscar a {
  color: #f3f3f3;
  text-decoration: none;
}

.resultadosBuscador .itemResultadosListaBuscar a>div {
  display: flex;
  align-items: center;
  background-color: #0a97b0;
  font-size: 1em;
  padding: .3em 1em;
  transition: .3s all;
  border-right: #ffffff8a 1px solid;
  border-bottom: #ffffff8a 1px solid;
  margin-bottom: .1em;
}

.resultadosBuscador .itemResultadosListaBuscar a:hover>div {
  background-color: #0c8196;
  color: #f3f3f3;
}

.resultadosBuscador .itemResultadosListaBuscar a>div>div {
  padding-right: 0;
}

/* img resultados */

.resultadosBuscador .itemResultadosListaBuscar a>div>div:first-child {
  padding-left: 0;
}

/* Segunda cabecera */

#header_escudo {
  width: 100%;
}

#header_inferior {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(225, 225, 225);
}

#header_inferior_izquierda {
  float: left;
}

#header_inferior_derecha a {
  color: black;
}

#contenedorPequeUsuarioCarrito, #contenedorPequeImagen {
  display: none;
}

#contenedorPequeUsuarioCarrito ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#contenedorPequeUsuarioCarrito ul:not(:first-child) {
  margin: 1em 0 0 0;
}

#contenedorPequeUsuarioCarrito ul li a {
  color: #4b4b4b;
  transition: .3s all;
  padding-right: 1em;
}

#contenedorPequeUsuarioCarrito ul li:first-child a {
  color: #d13131;
}

#contenedorPequeUsuarioCarrito ul li a:hover, #contenedorPequeUsuarioCarrito ul a:active {
  color: #0a97b0;
}

/* -------------------------------------------------------------------------------------- */

/* PRODUCTO */

ul.listaProductos {
  list-style-type: none;
  padding-inline-start: 0;
}

.itemProductos {
  color: black;
}

.itemProductos:hover {
  text-decoration: none;
  color: black;
}

.descuentoPrecioOferta {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: .4em;
  margin-right: .5em;
  padding: .2em;
  border-radius: 3px;
  background-color: #0a97b0;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(240, 240, 240);
}

.precioAntiguoOfertaLista {
  text-decoration: line-through;
  color: rgb(0, 0, 0);
  font-size: .8em;
}

.precioItem {
  color: #0a97b0;
}

.itemProductos:hover div {
  box-shadow: 0px 15px 26px #00000010;
  -webkit-transition: all .9s ease-in;
  -moz-transition: all .9s ease-in;
  -o-transition: all .9s ease-in;
  -ms-transition: all .9s ease-in;
  transition: all .9s ease-in;
}

.itemProductos .imagenItem {
  -webkit-transition: all .9s ease-out;
  -moz-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  -ms-transition: all .9s ease-out;
  transition: all .9s ease-out;
}

.itemProductos:hover .imagenItem {
  opacity: 0.8;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* DETALLE PRODUCTO */

/* MIGAS DE PAN */

/* Style the list */

ol.breadcrumb {
  list-style: none;
  background-color: white;
  margin-bottom: 0;
}

/* Add a color to all links inside the list */

ol.breadcrumb li a {
  color: #a8a8a8;
  text-decoration: none;
}

/* Add a color on mouse-over */

ol.breadcrumb li a:hover {
  color: #4b4b4b;
  text-decoration: underline;
}

.separacionBreadcrumb {
  margin-top: 0;
}

/* Imagen grande */

.contenedorImagenGrande {
  overflow: hidden;
  margin: 1em 0;
  /*background-color: #dddddd;*/
}

.contenedorImagenGrande:hover .imagenGrande {
  opacity: 0;
}

.imagenGrande {
  margin: 0;
}

/*.imagenGrande{
  transition: 0.5s all ease-in-out; 
}
.imagenGrande:hover{
  transform: scale(1.5); 
}*/

/* IMÁGENES */

.conjuntoImagenesProducto {
  z-index: 0;
  display: flex;
  flex: 1;
  margin: 0;
}

.conjuntoImagenesProducto>div>label {
  font-weight: bold;
  flex: 1;
  padding: 1em;
  display: block;
  text-align: center;
  background-color: #f2f2f2;
}

/*.conjuntoImagenesProducto>div:last-child {
  border-radius: 50px;
}*/

.conjuntoImagenesProducto>div>input:checked+label {
  background-color: #e2e2e2;
  border: #9c9c9c 1px dotted;
  width: fit-content;
}

.conjuntoImagenesProducto>div input {
  display: none;
}

.conjuntoImagenesProducto>div label:hover {
  cursor: pointer;
  background-color: #e9e9e9;
  transition: .4s all;
}

.itemImagenesProducto {
  margin: 0 !important;
}

/* Precio */

.precioAntiguoOferta {
  text-decoration: line-through;
  color: #ec3939;
  font-size: .8em;
}

.filaTallas {
  margin: 1em 0 1em 0;
  padding: 0;
  width: auto;
  display: flex;
}

.filaTallas>label {
  font-weight: bold;
  flex: 1;
  padding: 1em;
  display: block;
  text-align: center;
  background-color: #a8a8a8;
  color: #f3f3f3;
}

.filaTallas>input:checked+label {
  background-color: #646464;
}

.filaTallas input {
  opacity: 0;
}

.filaTallas label:hover {
  cursor: pointer;
  background-color: #969696;
  transition: .4s all;
}

.cantidadProducto {
  margin: 1em 0 1em 0;
  display: flex;
  align-items: center;
}

.cantidadProducto * {
  padding: 0;
}

.selectCantidadProducto {
  width: 100%;
}

.selectCantidadProducto {
  text-align-last: center;
  padding: .5em;
  text-align: center;
  border: none;
  background: rgb(240, 240, 240);
  /*appearance: none;*/
  cursor: pointer;
  text-overflow: ellipsis;
}

.selectCantidadProducto:hover {
  background: rgb(226, 226, 226);
  transition: .3s;
}

/* AÑADIR CARRITO */

.contenedorBtnCarrito {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.botonAnhadirCarrito {
  margin-top: 1em;
  background-color: #0a97b0;
  color: #f3f3f3;
  font-size: 1.3rem;
  width: 13rem;
  transition: .3s all;
  border-radius: 0;
}

.botonAnhadirCarrito:hover {
  background-color: #1cbcd8;
  color: #f3f3f3;
  width: 14rem;
}

/* DESCRIPCIÓN */

.tituloDescripcionProducto {
  /*border-bottom: solid .2rem #0a97b0;*/
  /*text-decoration: underline  #0a97b0;*/
  font-size: 1.75rem;
  padding: 0 1rem;
  color: #0a97b0;
  font-weight: bold;
}

.cuerpoDescripcionProducto {
  text-align: justify;
  border-top: solid 2px #0a97b0;
  padding: .25rem 1rem;
}

/* OUT OF STOCK */

.sinStockAvisoDetalles {
  color: #ec3939;
  font-size: 2rem;
  font-weight: bold;
}

/* -------------------------------------------------------------------------------------- */

/* PERFIL */

ul.panelOpcionesPerfil {
  list-style-type: none;
  padding-inline-start: 0;
}

/* Para que tengan la misma height */

ul.panelOpcionesPerfil>li {
  padding: 2em;
  display: flex;
}

/* Card de opciones */

ul.panelOpcionesPerfil>li>div {
  border: black 1px solid;
  width: 100%;
  /*background-color: #1bb4cf60;*/
}

ul.panelOpcionesPerfil>li>div>* {
  padding-right: 2rem;
}

ul.panelOpcionesPerfil>li>div>*:first-child {
  padding-top: 1rem;
  padding-left: 2rem;
  /*background-color: #0a97b0;
  color: #f8f8f8;*/
  font-weight: bold;
}

ul.panelOpcionesPerfil>li>div>*:last-child {
  padding-bottom: 1rem;
  padding-left: 3rem;
}

ul.panelOpcionesPerfil>li>div>ul {
  list-style-type: none;
}

ul.panelOpcionesPerfil .enlaceOpcionesUsuario {
  color: #4b4b4b;
}

/* -------------------------------------------------------------------------------------- */

/* PEDIDOS */

.listaPedidos {
  list-style-type: none;
  padding-inline-start: 0;
}

.itemPedidos {
  color: black;
}

.itemPedidos:hover {
  text-decoration: none;
  color: black;
}

.itemPedidos:hover>div {
  box-shadow: 0px 15px 26px #00000010;
  -webkit-transition: all .9s ease-in;
  -moz-transition: all .9s ease-in;
  -o-transition: all .9s ease-in;
  -ms-transition: all .9s ease-in;
  transition: all .9s ease-in;
}

.itemPedidosListaProductos {
  list-style-type: none;
  padding-inline-start: 0;
}

.itemPedidosDatosEnvio {
  list-style-type: none;
  padding-inline-start: 0;
}

/* -------------------------------------------------------------------------------------- */

/* TITULO PÁGINA */

.tituloPagina {
  margin: 1em;
}

/* -------------------------------------------------------------------------------------- */

/* Checkout Pasos */

.checkoutPasos {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

.checkoutPasos>div {
  text-align: center;
  border-bottom: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  font-weight: bold;
}

.checkoutPasos>div.active {
  border-bottom-color: #0e7e92;
  color: #0e7e92;
}

/* -------------------------------------------------------------------------------------- */

/* MINIATURA IMAGEN */

.filaImagenMiniaturaLista {
  width: 10rem;
}

/* -------------------------------------------------------------------------------------- */

/* DATOS PEDIDO */

.datosPedido div {
  border-bottom: #c5c5c5 1px solid;
  margin-top: .3em;
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 .4em;
}

.datosPedido div span:first-child {
  font-size: 1.2rem;
}

/* -------------------------------------------------------------------------------------- */

/* FORMULARIOS INICIO SESIÓN Y REGISTRO */

.labelFormularioUsuario {
  margin: .5em .1em 0 .1em;
  color: #0a97b0;
  font-weight: bold;
  font-size: 1.3rem;
}

.inputFormularioUsuario {
  color: #000000;
  transition: .3s all;
  background-color: #d6d6d6;
  border-radius: 0;
  border: none;
}

.inputFormularioUsuario:focus {
  color: #252525;
  background-color: #e7e7e7;
}

.inputFormularioUsuario::placeholder {
  color: #777777;
}

.botonFormularioUsuario {
  margin: 1em;
  background-color: #0a97b0;
  color: #f3f3f3;
  font-size: 1.3rem;
  width: 13rem;
  transition: .3s all;
  border-radius: 0;
}

.botonFormularioUsuario:hover {
  background-color: #1cbcd8;
  color: #f3f3f3;
  width: 14rem;
}

/* -------------------------------------------------------------------------------------- */

/* BOTONES COMPRA */

.filaBotones div button {
  margin: 1em;
  color: #f3f3f3;
  font-size: 1.3rem;
  width: 18rem;
  transition: .3s all;
  border-radius: 0;
}

.filaBotones div button:hover {
  color: #f3f3f3;
  width: 20rem;
}

.filaBotonesCancelar {
  background-color: #ec3939;
}

.filaBotonesCancelar:hover {
  background-color: #c42424;
}

.filaBotonesAceptar {
  background-color: #0a97b0;
}

.filaBotonesAceptar:hover {
  background-color: #1cbcd8;
}

/* -------------------------------------------------------------------------------------- */

/* ORDERNAR POR Y FILTROS */

#ordenarPorProductos, #ordenarPorPedidos {
  text-align-last: center;
  padding: .5em;
  text-align: center;
  border: #aaaaaa 1px solid;
  background: rgb(240, 240, 240);
  cursor: pointer;
  text-overflow: ellipsis;
}

#ordenarPorProductos:hover, #ordenarPorPedidos:hover {
  background: rgb(226, 226, 226);
  transition: .3s;
}

#contenedorFiltros {
  background-color: #f3f3f3;
  padding-top: 1em;
  padding-bottom: 1em;
  height: fit-content;
  position: sticky;
  top: 1em;
}

#contenedorFiltros h3:not(:first-child) {
  margin-top: 1em;
}

#contenedorFiltros h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

#contenedorFiltros div:hover {
  background-color: #ebebeb;
}

#contenedorFiltros div label {
  width: 100%;
}

#contenedorFiltros *:not(h3) {
  cursor: pointer;
}

/* -------------------------------------------------------------------------------------- */

@media screen and (max-width: 1024px) {}

/*@media screen and (min-width: 375px) {
  #header_escudo {
      max-width: 210px;
  }
}*/

@media screen and (min-width: 768px) {
  #header_escudo {
    max-width: 300px;
  }
}

@media screen and (max-width: 576px) {
  /* Quitar banner */
  #navbarNavDropdown ul li:last-child, .bannerEquipaciones {
    display: none;
  }
  /* Filtros */
  #contenedorFiltros {
    display: none;
  }
  /* Imágenes detalle producto */
  .contenedorImagenGrande {
    display: none;
  }
  .conjuntoImagenesProducto>div>label {
    background-color: #f2f2f2;
    border: #000000 1px solid;
  }
  /*.conjuntoImagenesProducto>div:last-child {
    border-radius: 50px;
  }*/
  .conjuntoImagenesProducto>div>input:checked+label {
    background-color: #f2f2f2;
    border: #000000 1px solid;
  }
  .conjuntoImagenesProducto>div label:hover {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 992px) {
  #header_superior, #header_inferior_izquierda {
    display: none;
  }
  #contenedorPequeUsuarioCarrito, #contenedorPequeImagen {
    display: block;
  }
  #header_inferior>div {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }
  #header_escudo_peque {
    width: 5em;
  }
  /* Menú desplegable */
  #header_inferior_derecha {
    position: relative;
    z-index: 1;
  }
  #header_inferior_derecha button {
    border: none;
    background-color: #0a97b0;
  }
  /* Separación del desplegable y el menú */
  .navbar-collapse.collapse.show, .navbar-collapse.collapsing {
    margin-top: .1em;
  }
  #navbarNavDropdown {
    position: absolute;
    padding: 0 2em 1em 2em;
    background-color: #0a97b0;
  }
  #navbarNavDropdown ul li {
    text-align: center;
    border-bottom: 1px white solid;
  }
  #navbarNavDropdown ul li:first-child {
    margin-top: .2em;
  }
  #navbarNavDropdown ul li a {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  /* Desplegable Afición */
  #navbarNavDropdown ul li div {
    padding: 0;
    background-color: #11788a;
    min-width: 0;
  }
  #navbarNavDropdown ul li div a {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    border-top: 1px white solid;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
  }
  /* MINIATURA IMAGEN */
  .filaImagenMiniaturaLista {
    width: 4rem;
  }
}

@media screen and (max-width: 320px) {
  #contenedorPequeImagen {
    display: none;
  }
}

/*@media screen and (min-width: 1024px) {
  #header_escudo {
      max-width: 240px;
  }
}

@media screen and (min-width: 1280px) {
  #header_escudo {
      max-width: 280px;
  }
}*/

@media screen and (min-width: 1440px) {
  #header_escudo {
    max-width: 300px;
  }
}